.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    border-bottom: 2px solid black;
    padding: 10px 20px;
}

.app-header-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}

.app-header-left_side {
    display: flex;
    column-gap: 20px;
}

.app-header-btn {
    border: 2px solid black;
    box-shadow: 2px 3px;
}

.app-header-btn:hover {
    background-color: black;
    color: white;
}